<div class="container">
  <div class="row">
    {{count}}
  </div>
  <div class="row" *ngIf="toogleVal">
    <p>
      Eiusmod deserunt excepteur amet in voluptate adipisicing. Exercitation magna duis eiusmod ipsum dolor culpa.
      Consequat minim ex eu incididunt mollit incididunt ut aute officia quis velit sint. Eu et sunt nisi do dolore
      pariatur eu magna minim elit consectetur aliquip ad. Deserunt quis reprehenderit pariatur sunt aliquip in ut elit
      nisi nostrud voluptate. Cillum cillum mollit non ut elit labore laborum culpa irure quis nostrud.
    </p>
  </div>
  <button (click)="togglePara()">Toogle paragraphe</button>
</div>
